* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    background-color: white;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #111, #000);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: relative;
    z-index: 1000;
}

/* Logo */
.logo {
    color: white;
    font-size: 28px;
    letter-spacing: 2px;
}

/* Hamburger Menu */
.menu-icon {
    width: 30px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    height: 3px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
}

/* Dropdown Menu */
.dropdown-menu {
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background: black;
    display: none;
    flex-direction: column;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-bottom: 1px solid #222;
}

.dropdown-menu a:hover {
    background: #111;
}

/* Show menu */
.dropdown-menu.show {
    display: flex;
}
